{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}">
{% endblock %}

{% block contnet %}
    <div class="container">
    {% for i in post %}
        <div class="card my-4 mx-auto w-50 shadow-lg">
          <h5 class="card-header d-flex">
              <img src=""alt="img" class="mr-3">
              <small>{{ i.author }}</small>
          </h5>
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.content }}</p>
            <a href="#" class="btn btn-primary">Read</a>
          </div>
          <div class="card-footer">
              <small>{{ i.post_added }}</small>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/mine.js' %}"></script>
{% endblock %}